.anime-card {
    margin-left: 15px;
    margin-bottom: 15px;
}

.anime-card img {
    height: 227.7px;
    min-width: 160.6px;
}

.darken {
    display: inline-block;
    background: #000000;
    padding: 0;
}

.darken img {
    display: block;
    -webkit-transition: all 0.1s linear;
       -moz-transition: all 0.1s linear;
        -ms-transition: all 0.1s linear;
         -o-transition: all 0.1s linear;
            transition: all 0.1s linear;
}

.darken:hover img {
    opacity: 0.5;
}

.year-released {
    color: rgb(202, 202, 202, 0.6);
}

.popover-content {
    color: #b8b8b8;
}

.popover-header h3 {
    color: #e7e7e7;
    font-size: 1.2rem;
    font-family: 'Outfit';
    font-weight: 300;
    margin-bottom: 2px;
}

.popover-content {
    font-size: 0.75rem;
}

.popover-ratings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 200;
    font-size: 1rem;
}

.popover-rating {
    color: #47c44d;
    margin-bottom: 3px;
}

.popover-popular {
    font-size: 0.8rem;
}

.popover-desc {
    margin-top: 7px;
    font-size: 0.85rem;
    font-weight: 100;
}

.popover-desc:after {
    content  : "";
    position : absolute;
    z-index  : 1;
    bottom   : 0;
    left     : 0;
    pointer-events   : none;
    background-image : linear-gradient(to bottom, 
                      #ffffff00, 
                      #2f385f 75%);
    width    : 100%;
    height   : 4em;
  }

.anime-modal {
    z-index: 100;
}