.container {
    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.anime-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.loading-card {
    height: 227.7px;
    min-width: 160.6px;
    margin-left: 15px;
    margin-bottom: 15px;
    background-color: #323647;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.category-title {
    padding: 10px 0px;
    margin-left: 15px;
    font-weight: 300;
    font-size: 1rem;
}